<a href="https://colab.research.google.com/github/mariaefoliveira/Analise-de-Dados/blob/main/Banco_de_Dados_e_Pandas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Agora vai 3 - Criando um sql

#Criar o banco de dados local

In [ ]:
import sqlite3 #para poder mexer com sql
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'
dados = pd.read_csv(url)

dados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [ ]:
#conexão com a base de dados
conn = sqlite3.connect('dados_cliente.sqlite')

#converter para sql
dados.to_sql('dados_cliente', conn, if_exists='replace', index=False)

438463

In [ ]:
#visualizar o sql
tabela_db = pd.read_sql('SELECT * FROM dados_cliente', conn)
tabela_db.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

# Atualizar registro

In [ ]:
#Identificar a linha
conn.execute('UPDATE dados_cliente SET Rendimento_anual = 300000 WHERE ID_Cliente = 6840104;')

tabela_db = pd.read_sql('SELECT * FROM dados_cliente', conn)
tabela_db.query('ID_Cliente == 6840104')

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
438458,6840104,62,Ensino médio,Divorciado,1,Pensionista,Outro,0,300000.0,0,Casa/apartamento próprio

#Excluir o registro

In [ ]:
conn.execute('DELETE FROM dados_cliente WHERE ID_Cliente = 6850985;')

tabela_db = pd.read_sql('SELECT * FROM dados_cliente', conn)

#Criar um novo registro

In [ ]:
conn.execute('INSERT INTO dados_cliente (ID_Cliente, Idade, Grau_escolaridade, Estado_civil,Tamanho_familia) VALUES (6850985,33,"Doutorado","Solteiro",1)')

tabela_db = pd.read_sql('SELECT * FROM dados_cliente', conn)

In [ ]:
tabela_db.query('ID_Cliente == 6850985')

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
438462,6850985,33,Doutorado,Solteiro,1,None,None,NaN,NaN,NaN,None